.contenedor-ajustes {
    width: 80%;
    margin: 40px auto;
    color: #fff;
    background-color: #0f1a2b;
    padding: 20px;
    border-radius: 10px;
}

.Ajustes {
    display: flex;
    font-size: 18px;
    margin: 5px;
}

.seccion-ajustes {
    display: flex;
    gap: 20px;
}

.menu-ajustes {
    width: 200px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
}

.menu-ajustes ul {
    list-style: none;
    padding: 0;
}

.menu-ajustes li {
    margin: 10px 0;
}

.menu-ajustes a {
    color: #0f1a2b;
    text-decoration: none;
    font-weight: bold;
}

.menu-ajustes a.activo {
    color: #4dabf7;
}

.contenido-ajustes {
    flex-grow: 1;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    color: #0f1a2b;
}

.encabezado-ajustes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton-ayuda button {
    background-color: #4dabf7;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-ayuda button:hover {
    background-color: #3a9be3;
}

.opcion-ajuste {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.politica-ajustes {
    text-align: center;
    font-size: 14px;
}

.politica-ajustes a {
    color: #4dabf7;
    text-decoration: none;
}

.boton-cerrar-sesion {
    background-color: #4dabf7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    font-weight: bold;
}

.boton-cerrar-sesion:hover {
    background-color: #3a9be3;
}
