.settings-container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

.settings-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    color: #0f1a2b;
}

.settings-content {
    display: flex;
    gap: 20px;
}

.settings-menu {
    width: 200px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.settings-menu ul {
    list-style: none;
    padding: 0;
}

.settings-menu ul li {
    margin: 10px 0;
}

.settings-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.settings-menu ul li a.active {
    color: #0f1a2b;
}

.settings-profile {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.profile-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.user-icon {
    color: #0f1a2b;
    margin-bottom: 15px;
    
}

.profile-card h2 {
    font-size: 20px;
    margin-top: 10px;
}

.profile-card p {
    font-size: 14px;
    color: #0f1a2b;
}

.profile-details p {
    margin: 5px 0;
}

.edit-button {
    background-color: #4dabf7;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
}
