.sede-content {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.sede-img img {
    max-width: 250px;
    border-radius: 15px;
}

.sede-info {
    flex: 2;
    text-align: left;
    max-width: 400px;
}

.sede-direccion {
    font-weight: bold;
}
