

.container {
    padding: 40px;
}

h1 {
    font-size: 28px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filters input,
.filters select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.filters input {
    width: 200px;
}

.filters select {
    background: white;
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 220px; 
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    border-color: black;
}

.card img {
    width: 120%;
    height: 100px; 
    object-fit: cover;
    display: block;
}

.info {
    padding: 5px;
}

.info h3 {
    font-size: 12px;
    margin: 5px 0;
    color: black;
}

.info p {
    color: gray;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 8px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
