<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/199/xhtml">
<head th:replace="~{common/admin_navigation :: head}">
    <title>EBENEZER</title>
</head>
<body>
<header th:replace="~{common/admin_navigation :: header}"/>

<main class="container">
    <h1>Productos</h1>

    <section class="admin-kpis">
        <article th:replace="~{private/admin/componentes/kpi :: admin_kpi (Productos,${total_productos})}"></article>
        <a th:href="@{/admin/productos/nuevo}" class="btn primary-btn">Agregar producto</a>
    </section>

    <section class="module-items">
        <div th:replace="~{private/admin/componentes/lista_items :: items_header (Id,Nombre,Precio,Marca,Categoria)}"></div>
        <div th:replace="~{private/admin/componentes/lista_items :: item_list (${productos}, productos)}"></div>
    </section>
</main>

<footer th:replace="~{common/admin_navigation :: footer}"/>
</body>
</html>