<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/199/xhtml">
    <head th:replace="~{layout/plantilla2 :: head}">
        <link th:href="@{/css/indexStyles.css}" rel="stylesheet"/> 
        <title>EBENEZER</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla2 :: header}"/>
                    
            <main class="settings-container">
                <h1 class="settings-title">Ajustes</h1>
                <div class="settings-content">
                    <!-- Menú lateral -->
                    <aside class="settings-menu">
                        <ul>
                            <li><a th:href="@{/perfil/listado}" class="active">Perfil</a></li>
                            <li><a th:href="@{/ajustes}" class="active">General</a></li>
                            <li><a th:href="@{/pago}" class="active">Pago</a></li>
                        </ul>
                    </aside>

                    <!-- Información del usuario -->
                    <section class="settings-profile">
                        <div class="profile-card">
                            <img  src="/img/batifoto.png"alt="Foto de perfil" class="profile-picture"/>
                            <h2 style="color: black;" >Nombre del usuario</h2>
                            <p >email@ejemplo.com</p>
                            <div class="profile-details">
                                <p><strong>fecha de nacimiento:</strong> <span >19/02/1972</span></p>
                                <p><strong>Vencimiento:</strong> <span >30 días</span></p>
                                <p><strong>Plan:</strong> <span >Premium</span></p>
                            </div>
                            <a class="edit-button">Editar</a>
                        </div>
                    </section>
                </div>
            </main>


        <footer th:replace="~{layout/plantilla2 :: footer}"/>
    </body>
</html>