<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/199/xhtml">

<head th:replace="~{common/private_navigation :: head}">
    <title>EBENEZER</title>
</head>

<body>
    <header th:replace="~{common/private_navigation :: header}" />

    <div class="contenedor-ajustes">
        <div class="Ajustes">
        </div>
        <div class="seccion-ajustes">
            <aside th:replace="~{/common/aside_settings :: aside-panel}"></aside>
            <div class="contenido-ajustes">
                <div class="encabezado-ajustes">
                    <h2>General</h2>
                    
                </div>

                <div class="opcion-ajuste">
                    <span><strong>Sonido</strong></span>
                    <label class="interruptor">
                        <input type="checkbox" checked>
                        <span class="deslizador"></span>
                    </label>
                </div>
                <div class="opcion-ajuste">
                    <span><strong>Notificaciones</strong></span>
                    <label class="interruptor">
                        <input type="checkbox" checked>
                        <span class="deslizador"></span>
                    </label>
                </div>
                <br>
                <br>
                <a href="/">
                    <button class="boton-cerrar-sesion">Cerrar Sesión</button>
                </a>
                  

            </div>
        </div>
    </div>

    <footer th:replace="~{common/private_navigation :: footer}">
</body>

</html>