<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/199/xhtml">

<head th:replace="~{common/private_navigation :: head}">
    <title>EBENEZER</title>
</head>

<body>
    <header th:replace="~{common/private_navigation :: header}" />

    <div class="contenedor-ajustes">
        <div class="Ajustes">
            <h1>Ajustes</h1>
        </div>
        <div class="seccion-ajustes">
            <div class="menu-ajustes">
                <ul>
                    <li><a th:href="@{/templates/private/perfil/listado}">Perfil</a></li>
                    <li><a th:href="@{/ajustes}" class="activo">General</a></li>
                    <li><a th:href="@{/pago}">Pago</a></li>
                </ul>
            </div>
            <div class="contenido-ajustes">
                <div class="encabezado-ajustes">
                    <h2>General</h2>
                    <div class="boton-ayuda">
                        <button id="ayudaBtn">Ayuda ?</button>
                    </div>
                </div>

                <div class="opcion-ajuste">
                    <span><strong>Sonido</strong></span>
                    <label class="interruptor">
                        <input type="checkbox" checked>
                        <span class="deslizador"></span>
                    </label>
                </div>
                <div class="opcion-ajuste">
                    <span><strong>Notificaciones</strong></span>
                    <label class="interruptor">
                        <input type="checkbox" checked>
                        <span class="deslizador"></span>
                    </label>
                </div>
                <br>
                <br>
                <p class="politica-ajustes">Política de privacidad y términos de uso <a th:href="@{/}">aquí</a></p>
                <a href="/">
                    <button class="boton-cerrar-sesion">Cerrar Sesión</button>
                  </a>
                  

            </div>
        </div>
    </div>

    <footer th:replace="~{common/private_navigation :: footer}">
</body>

</html>