<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/199/xhtml">
  <head th:replace="~{common/private_navigation :: head}">
    <title>EBENEZER</title>
  </head>
  <body>
    <header th:replace="~{common/private_navigation :: header}" />


      
    <div class="container">
      <h1>Bienvenido</h1>
      <div class="recomendaciones-home">
        <div class="tarjeta-home">
          <img th:src="@{/img/ImgPesasPiso.png}" alt="img"/>     
          <div class="superposicion-home">Rutinas personalizadas</div>
        </div>
        <div class="separador-home"></div>
        <div class="tarjeta-home">
          <img th:src="@{/img/imageKitEBENAZER.png}" alt="img"/>                
          <div class="superposicion-home">Comprá tu kit <br> <strong>EBENEZER</strong></div>
        </div>
        <div class="separador-home"></div>
        <div class="tarjeta-home">
          <img th:src="@{/img/IMGblog.png}" alt="img"/>
          <div class="superposicion-home">Clases</div>
        </div>
      </div>
  
      <div class="recomendaciones-home">
        <div class="tarjeta-home">
          <img th:src="@{/img/IMGblog.png}" alt="img"/>            
          <div class="superposicion-home">Blog</div>
        </div>
        <div class="separador-home"></div>
        <div class="tarjeta-home">
          <img th:src="@{/img/imageKitEBENAZER.png}" alt="img"/>            
          <div class="superposicion-home">Tu plan <br> <strong>EBENEZER</strong></div>
        </div>
        <div class="separador-home"></div>
        <div class="tarjeta-home">
          <img th:src="@{/img/ImgPesasPiso.png}" alt="img"/>                  
          <div class="superposicion-home">Clases</div>
        </div>
      </div>
    </div>

    <footer th:replace="~{common/private_navigation :: footer}" />
  </body>
</html>