<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/private_navigation :: head}">
    <title>EBENEZER</title>
</head>
<body>
    <header th:replace="~{common/private_navigation :: header}" />

    <div class="container-tienda">
        <h1>Servicios adicionales</h1>

        <div class="filters-tienda">
            <input type="text" placeholder="Buscar">
            <select>
                <option>Marca</option>
            </select>
            <select>
                <option>Sexo</option>
            </select>
            <select>
                <option>Talla</option>
            </select>
            <select>
                <option>Precio</option>
            </select>
            <select>
                <option>Color</option>
            </select>
        </div>

        <div class="products-tienda">
            <div class="card-tienda" th:each="producto : ${productos}">
                <img th:src="@{${producto.img}}" th:alt="${producto.nombreArticulo}" />
                <div class="info-tienda">
                    <h3 th:text="${producto.nombreArticulo}"></h3>
                    <p th:text="'Precio: $' + ${producto.precio}"></p>
                    <button>Ver detalles</button>
                    <a th:href="@{/tienda/eliminar/{id}(id=${producto.idArticulo})}">
                        <button type="button" class="delete-button-tienda">Eliminar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{common/private_navigation :: footer}" />
</body>
</html>