<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/199/xhtml">
<head th:replace="~{common/public_navigation :: head}">
    <title>EBENEZER</title>
</head>
<body>
<header th:replace="~{common/private_navigation :: header}"/>

<main class="container">
    <h1>Clases</h1>
    <section class="clases-filtros">
        <div class="clases-filtros-filtro">
            <input type="search" name="" id="" placeholder="Buscar">
        </div>
        <div class="clases-filtros-filtro">
            <select name="" id="">
                <option value="" selected disabled>Tipo de clase</option>
            </select>
        </div>
        <div class="clases-filtros-filtro">
            <select name="" id="">
                <option value="" selected disabled>Instructor</option>
            </select>
        </div>
        <div class="clases-filtros-filtro">
            <select name="" id="">
                <option value="" selected disabled>Dificultad</option>
            </select>
        </div>
        <div class="clases-filtros-filtro">
            <input type="date" name="" id="">
        </div>
    </section>
    <section class="clases">
        <article class="clase-card clase-card--premium">
            <div class="clase-card--heading">
                <h3>Clase de activateee</h3>
                <div>
                    <i class="fa-solid fa-users fa-lg"></i>
                    <span>20/20</span>
                </div>
            </div>
            <div class="clase-card--content">
                <p><span>Instructor: </span><span>Ejemplp</span></p>
                <p><span>Dificultad: </span><span>Ejemplp</span></p>
                <p><span>Tipo: </span><span>Ejemplp</span></p>
                <p><span>Horario: </span><span>Ejemplp</span></p>
            </div>
            <div class="clase-card--btns">
                <a class="btn primary-btn">Ver detalles</a>
            </div>
        </article>
        <article class="clase-card clase-card--premium">
            <div class="clase-card--heading">
                <h3>Clase activateee</h3>
                <div>
                    <i class="fa-solid fa-users fa-lg"></i>
                    <span>20/20</span>
                </div>
            </div>
            <div class="clase-card--content">
                <p><span>Instructor: </span><span>Ejemplp</span></p>
                <p><span>Dificultad: </span><span>Ejemplp</span></p>
                <p><span>Tipo: </span><span>Ejemplp</span></p>
                <p><span>Horario: </span><span>Ejemplp</span></p>
            </div>
            <div class="clase-card--btns">
                <a class="btn primary-btn">Ver detalles</a>
            </div>
        </article>
        <article class="clase-card clase-card--premium">
            <div class="clase-card--heading">
                <h3>Clase activateee</h3>
                <div>
                    <i class="fa-solid fa-users fa-lg"></i>
                    <span>20/20</span>
                </div>
            </div>
            <div class="clase-card--content">
                <p><span>Instructor: </span><span>Ejemplp</span></p>
                <p><span>Dificultad: </span><span>Ejemplp</span></p>
                <p><span>Tipo: </span><span>Ejemplp</span></p>
                <p><span>Horario: </span><span>Ejemplp</span></p>
            </div>
            <div class="clase-card--btns">
                <a class="btn primary-btn">Ver detalles</a>
            </div>
        </article>
        <article class="clase-card clase-card--premium">
            <div class="clase-card--heading">
                <h3>Clase activateee</h3>
                <div>
                    <i class="fa-solid fa-users fa-lg"></i>
                    <span>20/20</span>
                </div>
            </div>
            <div class="clase-card--content">
                <p><span>Instructor: </span><span>Ejemplp</span></p>
                <p><span>Dificultad: </span><span>Ejemplp</span></p>
                <p><span>Tipo: </span><span>Ejemplp</span></p>
                <p><span>Horario: </span><span>Ejemplp</span></p>
            </div>
            <div class="clase-card--btns">
                <a class="btn primary-btn">Ver detalles</a>
            </div>
        </article>
    </section>
</main>

<footer th:replace="~{common/private_navigation :: footer}"/>
</body>
</html>
