<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/199/xhtml">
<head th:replace="~{common/public_navigation :: head}">
    <title>EBENEZER</title>
</head>
<body>
<header th:replace="~{common/private_navigation :: header}"/>

<main class="container">
    <div th:if="${mensajeExito}" class="alerta alerta-succes">
        <span th:text="${mensajeExito}"></span>
    </div>

    <div th:if="${mensajeError}" class="alerta alerta-warning" role="alert">
        <span th:text="${mensajeError}"></span>
    </div>


    <h1>Clases</h1>
    <a th:href="@{/clases/mis-clases}" class="btn secondary-btn">Mis clases</a>
    <section class="clases-filtros">
        <div class="clases-filtros-filtro">
            <input type="search" name="" id="" placeholder="Buscar">
        </div>
        <div class="clases-filtros-filtro">
            <select name="" id="">
                <option value="" selected disabled>Tipo de clase</option>
            </select>
        </div>
        <div class="clases-filtros-filtro">
            <select name="" id="">
                <option value="" selected disabled>Instructor</option>
            </select>
        </div>
        <div class="clases-filtros-filtro">
            <select name="" id="">
                <option value="" selected disabled>Dificultad</option>
            </select>
        </div>
        <div class="clases-filtros-filtro">
            <input type="date" name="" id="">
        </div>
    </section>
    <section class="clases">
        <article class="clase-card" th:each="clase : ${clases}">
            <div class="clase-card--heading" th:id="${clase.idClase}">
                <h3 th:text="${clase.nombre_clase}"></h3>
                <div>
                    <i class="fa-solid fa-users fa-lg"></i>
                    <span th:text="${clase.usuarios_registrados} + '/' +  ${clase.capacidad_maxima}"></span>
                </div>
            </div>
            <div class="clase-card--content">
                <p><span>Instructor: </span><span th:text="${clase.instructor}"></span></p>
                <p><span>Dificultad: </span><span th:text="${clase.dificultad}"></span></p>
                <p><span>Tipo: </span><span th:text="${clase.tipo}"></span></p>
                <p><span>Horario: </span><span th:text="${#temporals.format(clase.horario, 'dd/MM/yyyy HH:mm')}"></span></p>
            </div>
            <div class="clase-card--btns">
                <form th:action="@{/clases/inscribir/{id}(id=${clase.idClase})}" method="post">
                    <button class="btn primary-btn">Reservar clase</button>
                </form>
            </div>
        </article>

    </section>
</main>

<footer th:replace="~{common/private_navigation :: footer}"/>

<script th:src="@{js/alert-msgs.js}"></script>
</body>
</html>
