<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/199/xhtml">
  <head th:replace="~{layout/plantilla2 :: head}">

    <title>EBENEZER</title>
  </head>
  <body>
    <header th:replace="~{layout/plantilla2 :: header}" />

      <div class="container">
          <h1>Bienvenido, ...</h1>
          <h2>Recomendaciones</h2>
          
          <div class="recommendations">
              <div class="card">
                <img th:src="@{/img/ImgPesasPiso.png}"alt="img"/>     
                <div class="overlay">Rutinas personalizadas</div>
              </div>
              <div class="separator"></div>
              <div class="card">
                  <img th:src="@{/img/imageKitEBENAZER.png}"alt="img"/>                
                  <div class="overlay">Comprá tu kit <br> <strong>EBENEZER</strong></div>
              </div>
              <div class="separator"></div>
              <div class="card">
                  <img th:src="@{/img/IMGblog.png}"alt="img"/>
                  <div class="overlay">Clases</div>
              </div>
          </div>
  
          <div class="recommendations">
              <div class="card">
                  <img th:src="@{/img/IMGblog.png}"alt="img"/>            
                  <div class="overlay">Blog</div>
              </div>
              <div class="separator"></div>
              <div class="card">
                <img th:src="@{/img/imageKitEBENAZER.png}"alt="img"/>            
                <div class="overlay">Tu plan <br> <strong>EBENEZER</strong></div>
              </div>
              <div class="separator"></div>
              <div class="card">
                <img th:src="@{/img/ImgPesasPiso.png}"alt="img"/>                  
                
                  <div class="overlay">Clases</div>
              </div>
          </div>
      </div>

    <footer th:replace="~{layout/plantilla2 :: footer}" />
  </body>
</html>
