<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/199/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <link th:href="@{/css/styles.css}" rel="stylesheet"/> 
        <title>EBENEZER</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section class="landing">
            <div class="landing-img">
                <img src="/img/landing.png" alt="Landing Image"/>
            </div>
            <div class="landing-content">
            </div>
        </section>


        <main class="container">
            <h2 class="text-center">Descubrí nuestros planes</h2>
            <p class="text-center">Tenemos 2 distintos planes que se adaptan a cada persona. Elegí lo que más se adapte a vos!</p>

            <section class="planes">


                <article class="plan-card plan-card--premium">
                    <div class="plan-card--heading">
                        <h3>Premium</h3>
                    </div>
                    <div class="plan-card--content">
                        <p>Rutina</p>
                        <p>Medidas mensuales</p>
                        <p>Instructor grupal</p>
                    </div>
                    <div class="plan-card--btns">
                        <a class="btn primary-btn">Ver detalles</a>
                    </div>
                </article>

                <article class="plan-card">
                    <div class="plan-card--heading">
                        <h3>Básico</h3>
                    </div>
                    <div class="plan-card--content">
                        <p>Rutina</p>
                        <p>Medidas mensuales</p>
                        <p>Instructor grupal</p>
                    </div>
                    <div class="plan-card--btns">
                        <a class="btn secondary-btn">Ver detalles</a>
                    </div>
                </article>
            </section>

        </main>




        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>

