<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/199/xhtml">

<head th:replace="~{layout/plantilla :: head}">
    <link th:href="@{/css/indexStyles.css}" rel="stylesheet" />
    <title>EBENEZER</title>
    <style>
        /* Ocultar Elite e Intermedio */
        .card.card-elite,
        .card.card-intermedio {
            display: none;
        }
    </style>
</head>

<body>
    <header th:replace="~{layout/plantilla :: header}" />

    <section class="servicios bg-dark text-white text-center py-5">
        <div class="container">
            <hr class="mx-auto mb-4" style="width: 50px; height: 3px; background-color: white; border: none;">
            <h2>Elegí tu plan</h2>
            <p class="fs-5">Tenemos 2 distintos planes que se adaptan a cada persona. Elegí lo que más se adapte a vos!
            </p>

            <div class="row align-items-center">
                <div class="col-md-6 order-md-1 order-2">
                    <div class="row justify-content-center">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <div class="card bg-light text-dark mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Básico</h5>
                                    <p class="card-text">$46</p>
                                    <ul class="list-unstyled">
                                        <li>Rutina</li>
                                        <li>Medidas mensuales</li>
                                        <li>Instructor grupal</li>
                                    </ul>
                                    <a href="#" class="btn btn-primary">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4 mb-md-0 mt-4">
                            <div>
                                <div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="card bg-primary text-white">
                                <div class="card-body">
                                    <h5 class="card-title">Premium</h5>
                                    <p class="card-text">$59</p>
                                    <ul class="list-unstyled">
                                        <li>Rutina personalizada</li>
                                        <li>Medidas mensuales</li>
                                        <li>Instructor personal</li>
                                    </ul>
                                    <a href="#" class="btn btn-light text-primary">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 order-md-2 order-1"> <img src="/img/pesas.png" class="img-fluid"
                        alt="Gym Ebenezer Plans">
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{layout/plantilla :: footer}" />
</body>

</html>