<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/199/xhtml">
<head th:replace="~{common/private_navigation :: head}">
    <link th:href="@{/css/indexStyles.css}" rel="stylesheet"/> 
    <title>EBENEZER</title>
</head>
<body>
    <header th:replace="~{common/private_navigation :: header}"/>

    <main class="settings-container">
        <div class="settings-content">
            <aside th:replace="~{/common/aside_settings :: aside-panel}"></aside>
            <section class="settings-profile">
                <div class="profile-card">
                    <i class="fa fa-user fa-4x user-icon"></i>
                    <p th:text="${usuario.nombre}">Nombre</p>
                    <p th:if="${usuario != null}" th:text="${usuario.username}">Username</p>
                    <p th:text="${usuario.correo}">Correo</p>
                    <div class="profile-details">
                    <a class="edit-button" th:href="@{'/perfil/editar/' + ${usuario.idUsuario}}">Editar</a>
                </div>
            </section>
        </div>
    </main>

    <footer th:replace="~{common/private_navigation :: footer}"/>
</body>
</html>
