<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/199/xhtml">
<head th:replace="~{common/admin_navigation :: head}">
    <title>EBENEZER</title>
</head>
<body>
<header th:replace="~{common/admin_navigation :: header}" />

<main class="container">
    <h1>Dashboard de administrador</h1>

    <section class="admin-kpis">
        <article th:replace="~{private/admin/componentes/kpi :: admin_kpi (Productos,${total_productos})}"></article>
        <article th:replace="~{private/admin/componentes/kpi :: admin_kpi (Clases,${total_clases})}"></article>
        <article th:replace="~{private/admin/componentes/kpi :: admin_kpi (Blogs,${total_blogs})}"></article>
    </section>


    <section>
        <h2>Modulos disponibles</h2>
        <section class="admin-modules">
            <article class="admin-modules-module">
                <h3>Productos</h3>
                <div class="admin-module-actions">
                    <a class="btn standard-btn-black"><i class="fa-solid fa-plus fa-lg" style="color: #4cc85f;"></i></a>
                    <a class="btn standard-btn-black"  th:href="@{admin/productos}"><i class="fa-solid fa-list fa-lg"></i></a>
                </div>
            </article>
            <article class="admin-modules-module">
                <h3>Clases</h3>
                <div class="admin-module-actions">
                    <a class="btn standard-btn-black"><i class="fa-solid fa-plus fa-lg" style="color: #4cc85f;"></i></a>
                    <a class="btn standard-btn-black"  th:href="@{admin/clases}"><i class="fa-solid fa-list fa-lg"></i></a>
                </div>
            </article>
            <article class="admin-modules-module">
                <h3>Blogs</h3>
                <div class="admin-module-actions">
                    <a class="btn standard-btn-black"><i class="fa-solid fa-plus fa-lg" style="color: #4cc85f;"></i></a>
                    <a class="btn standard-btn-black"  th:href="@{admin/blogs}"><i class="fa-solid fa-list fa-lg"></i></a>
                </div>
            </article>
        </section>
    </section>
</main>

<footer th:replace="~{common/admin_navigation :: footer}" />
</body>
</html>