<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/199/xhtml">
<head th:replace="~{common/public_navigation :: head}">
    <title>EBENEZER</title>
</head>
<body>
<header th:replace="~{common/public_navigation :: header}"/>

<main class="container">
    <div class="login-wrapper">
        <section class="login">
            <div class="login-form">
                <h2>Inicia sesión</h2>
                <form th:action="@{/login}" method="post">
                    <div>
                        <label for="username">Usuario</label>
                        <input type="text" name="username" id="username" required autofocus>
                    </div>
                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <button type="submit" class="btn primary-btn">Iniciar sesión</button>
                    
                    <div class="form-messages">
                        <p th:if="${param.error}" class="error">Usuario o contraseña incorrectos.</p>
                        <p th:if="${param.logout}" class="logout">Has cerrado sesión correctamente.</p>
                    </div>

                    <p class="text-center">¿No tenés cuenta? <a th:href="@{/singup}">Creá una</a></p>
                </form>
            </div>
            <div class="login-decoration">
                <div class="login-decoration-content">
                    <span class="logo-font landing-header">EBENEZER</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi debitis delectus deserunt dolorum.</p>
                </div>
            </div>
        </section>
    </div>
</main>

<footer th:replace="~{common/public_navigation :: footer}"/>
</body>
</html>
