<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>EBENEZER - Ajustes</title>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{/img/1.png}"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/perfil.css}"/>
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/styleServicios.css}"/>
    <link rel="stylesheet" th:href="@{/css/ajustesStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/pagoStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
</head>

<body>

<header th:fragment="header">
    <nav class="navbar">
        <div class="navbar-items navbar-items-private">
            <ul class="navbar-links">
                <li><span class="logo-font navbar-logo"><a th:href="@{/home}">EBENEZER ADMIN</a></span></li>
            </ul>
        </div>
    </nav>
</header>

<footer>
    <div class="container text-center">
        <p>© 2025 Ebenezer Gym. Todos los derechos reservados.</p>
        <div>
            <a href="#" class="text-white mx-2"><i class="fab fa-facebook fa-lg"></i></a>
            <a href="#" class="text-white mx-2"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="#" class="text-white mx-2"><i class="fab fa-twitter fa-lg"></i></a>
        </div>
    </div>
</footer>
</body>
</html>