<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>
    <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
    <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal"
                        data-bs-target="#agregarPromociones">
                        <i class="fas fa-plus"></i> agregar
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- 2 Fragmento para agregar promociones, es la ventana modal -->
    <section th:fragment="agregarPromociones">
        <div id="agregarPromociones" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title">Agregar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/promociones/guardar}" th:object="${promocion}" method="POST"
                        class="was-validated" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="titulo">Título</label>
                                <input type="text" class="form-control" name="titulo" th:field="*{titulo}"
                                    required="true" />
                            </div>
                            <div class="mb-3">
                                <label for="descripcion">Descripción</label>
                                <input type="text" class="form-control" name="descripcion" th:field="*{descripcion}"
                                    required="true" />
                            </div>
                            <div class="mb-3">
                                <label for="precio">Precio</label>
                                <input type="number" class="form-control" name="precio" th:field="*{precio}"
                                    required="true" />
                            </div>
                            <div class="mb-3">
                                <label for="activo">Activo</label>
                                <input class="form-check-input" type="checkbox" name="activo" th:field="*{activo}"
                                    id="activo" />
                            </div>
                            <div class="mb-3">
                                <label for="imagen">RutaImagen</label>
                                <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);" />
                                <img id="blah" src="#" alt="your image" height="200" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- 3 Sección principal para mostrar la informaccion de la entidad promociones -->
    <section th:fragment="listadoPromocioness" id="promocioness">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>Listado</h4>
                        </div>
                        <div th:if="${promocioness != null and !promocioness.empty}">
                            <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Descripcion</th>
                                        <th>Activo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="promociones, contador : ${promocioness}">
                                        <td>Count</td>
                                        <td>Descripcion</td>
                                        <td th:text="${promociones.activo} ? 'Activa' : 'Inactiva'" />
                                        <td><a th:href="@{/promociones/eliminar/}+${promociones.idPromociones}"
                                                class="btn btn-danger">
                                                <i class="fas fa-trash"></i> Eliminar</a>
                                            <a th:href="@{/promociones/modificar/}+${promociones.idPromociones}"
                                                class="btn btn-success">
                                                <i class="fas fa-pencil"></i> Actualizar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${promocioness == null or promocioness.empty}">
                            <span>Vacia</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <h3>Total</h3>
                            <h4 class="fs-2"><i class="fas fa-users"></i> Promociones</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 4 Fragmento que se utiliza en la página modifca.html -->
    <section th:fragment="editarPromociones">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form method="POST" th:action="@{/promociones/guardar}" th:object="${promociones}" class="was-validated"
                    enctype="multipart/form-data">
                    <input type="hidden" name="idPromociones" th:field="*{idPromociones}" />
                    <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}" />
                    <section th:replace="~{promociones/fragmentos :: botonesEditar}" />
                    <div id=details>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Actualizar</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label for="descripcion">Descripcion</label>
                                                <input type="text" class="form-control" name="descripcion"
                                                    th:field="*{descripcion}" required="true">
                                            </div>
                                            <div class="mb-3">
                                                <label for="activo">Activo</label>
                                                <input class="form-check-input" type="checkbox" name="activo"
                                                    id="activo" th:field="*{activo}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="imagen">RutaImagen</label>
                                                <input class="form-control" type="file" name="imagenFile"
                                                    onchange="readURL(this);" />
                                                <img id="blah" th:src="@{${promociones.rutaImagen}}" alt="your image"
                                                    height="200" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </section>

    <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
    <section th:fragment="botonesEditar">
        <div class="container py-4 mb-4 bg-light">
            <div class="row">
                <div class="col-md-4 d-grid">
                    <a th:href="@{/promociones/listado}" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> Regresar
                    </a>
                </div>
                <div class="col-md-4 d-grid">
                    <a th:href="@{/promociones/eliminar/}+${promociones.idPromociones}" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Eliminar
                    </a>
                </div>
                <div class="col-md-4 d-grid">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </section>
</body>

</html>