<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/199/xhtml">

<head th:replace="~{common/private_navigation :: head}">
    <title>Nuevo Blog</title>
</head>

<body>

    <h2>Crear Nuevo Blog</h2>

    <form th:action="@{/blog/guardar}" th:object="${blog}" method="post">
        <label for="titulo">Título</label>
        <input type="text" id="titulo" th:field="*{titulo}" /><br />

        <label for="img">Imagen</label>
        <input type="text" id="img" th:field="*{img}" /><br />

        <label for="contenido">Contenido</label>
        <textarea id="contenido" th:field="*{contenido}"></textarea><br />

        <label for="categoria">Categoría</label>
        <input type="text" id="categoria" th:field="*{categoria}" /><br />

        <button type="submit">Guardar</button>
    </form>

</body>

</html>